@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply my-3;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply my-2;
    @apply font-bold;
  }
  h3 {
    @apply text-lg;
    @apply my-1;
    @apply font-bold;
  }
  h4 {
    @apply text-base;
    @apply mt-1;
    @apply mb-0.5;
    @apply font-bold;
  }
  p {
    @apply mt-2;
  }
}

@keyframes hover {
  0% {
      transform: scale(1.0);
  }
  50% {
       transform: scale(1.1);
   }
  100% {
        transform: scale(1.0);
  }
}

@keyframes appear-from-below {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

#__next {
  height: 100%;
}

@media screen and (min-width: 640px) {
  .scrollbar::-webkit-scrollbar-button:end {
    height: 73px;
  }

  .scrollbar::-webkit-scrollbar-button:start {
    height: 66px;
  }

  .scrollbar-light::-webkit-scrollbar-button:end {
    height: 73px;
  }

  .scrollbar-light::-webkit-scrollbar-button:start {
    height: 66px;
  }
}

.scrollbar::-webkit-scrollbar {
  height: 0.7rem;
  width: 0.7rem;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 16px;
  box-shadow: inset 0 0 14px 14px #00398c;
  border: solid 2px transparent;
}

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 16px;
  box-shadow: inset 0 0 14px 14px #00398c;
  border: solid 2px transparent;
}

.scrollbar-default::-webkit-scrollbar {
  height: 0.7rem;
  width: 0.7rem;
  background-color: transparent;
}

.scrollbar-light::-webkit-scrollbar-thumb {
  border-radius: 16px;
  box-shadow: inset 0 0 14px 14px #c4d9ff;
  border: solid 2px transparent;
}

.scrollbar-light::-webkit-scrollbar {
  height: 0.7rem;
  width: 0.7rem;
  background-color: transparent;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes bounce-up {
  from {
    r: 0;
  }
}

.lvl-0 {
  --i: 0;
}

.lvl-1 {
  --i: 1;
}

.lvl-2 {
  --i: 2;
}

.lvl-3 {
  --i: 3;
}

.lvl-4 {
  --i: 4;
}

.lvl-5 {
  --i: 5;
}

.lvl-6 {
  --i: 6;
}

.lvl-7 {
  --i: 7;
}

.lvl-8 {
  --i: 8;
}

.lvl-9 {
  --i: 9;
}

.lvl-10 {
  --i: 10;
}

.lvl-11 {
  --i: 11;
}

:root {
  --bounce-duration: 200ms;
  --bounce-delay: 50ms;
  --unfold-duration: 250ms;
  --unfold-delay: var(--bounce-delay) + var(--bounce-duration);
  --base-delay: 50ms;
}

@keyframes unfold {
  to {
    stroke-dashoffset: 0;
  }
}

.unfold {
  animation: unfold var(--unfold-duration) ease-out calc(var(--unfold-delay) + var(--bounce-delay) * var(--i) + var(--base-delay)) 1 both;
}

.bounce-up {
  animation: bounce-up var(--bounce-duration) ease-out calc(var(--bounce-delay) + var(--bounce-delay) * var(--i) + var(--base-delay)) 1 both;
}

.bounce-up-delayed {
  animation: bounce-up var(--bounce-duration) ease-out calc(var(--bounce-delay) + var(--bounce-delay) * ( var(--i) + 5 ) + var(--base-delay)) 1 both;
}
