@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.appear {
  animation-name: appear;
  animation-duration: 500ms;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}

.appear-now {
  animation-name: appear;
  animation-duration: 500ms;
  animation-delay: 250ms;
  animation-fill-mode: both;
}

.appear-subtitle {
  animation-delay: 3.5s;
}

.appear-subtitle-now {
  animation-delay: 0.5s;
}