@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.appear {
  animation-name: appear;
  animation-duration: 500ms;
  animation-delay: 250ms;
  animation-fill-mode: both;
}

.appear-subtitle {
  animation-delay: 1s;
}
